[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
tweepy = "*"
ruamel-yaml = "*"

[requires]
python_version = "3.8"

[dev-packages]
ipython = "*"
pylint = "*"
pexpect = "*"
mypy = "*"
flake8 = "*"
coverage = "*"
autopep8 = "*"
rope = "*"
